body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  width: 220px;
  background-color: #1f2937;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
}

.main {
  flex: 1;
  background-color: #f3f4f6;
  min-height: 100vh;
}

.navbar {
  background-color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  padding: 8px 15px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cards {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.stat-card {
  background: white;
  padding: 20px;
  width: 180px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.chart-container {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}